{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "useBuiltIns": "entry",
      "debug": false
    }]
  ],
  "ignore": ["node_modules"]
}
